<div ng-controller="homeC" ng-init="getItems();getcartItems()">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Online-Shopping Cart</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-default" style="margin-top: 8px;" data-toggle="modal" data-target="#myModal1">
                        <font class="glyphicon glyphicon-shopping-cart"></font> Cart ({{allcart.length}})
                    </button>
                    <div class="modal" id="myModal1">
                        <div class="modal-dialog" style="width: 80%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Your Orders</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-3" ng-repeat="item in allcart">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" src="images/cart.png" alt="Card image cap">
                                                <div class="card-body">
                                                    <h4 class="card-title">{{item.name}}</h5>
                                                        <p class="card-text">{{item.descr}}</p>
                                                        <h5>Price :  {{item.price}} Rs</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 ng-if="allcart.length === 0" style="text-align: center;">No Products Available In Your Cart</h2>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-click=logout() style="cursor: pointer;">
                    <a>
                        <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row" ng-if="uT=='admin'">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                    <font class="glyphicon glyphicon-plus"></font> Add Item to Cart
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Please Enter Item Details</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="usr">Item Category: *</label>
                                    <input type="text" class="form-control" ng-model="cat">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Item Name: *</label>
                                    <input type="text" class="form-control" ng-model="name">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Item Price:(Rs) *</label>
                                    <input class="form-control" type="number" min="1" step="any" ng-model="price" />
                                    <!-- <input type="text" class="form-control" ng-model="price"> -->
                                </div>
                                <div class="form-group">
                                    <label for="usr">Item Description:</label>
                                    <input type="text" class="form-control" ng-model="descr">
                                </div>
                                <span style="color: red">{{allE}}</span>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" ng-click="addnewitem()" class="btn btn-primary">Add Item</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" ng-repeat="item in allData">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/cart.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.descr}}</p>
                            <h4>Price :  {{item.price}} Rs</h5>
                            <a ng-click="addtocart(item)" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <h2 ng-if="allData.length <= 0" style="text-align: center;">No Products Available</h2>
        </div>
    </div>
</div>