<section ng-controller="loginC">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-5 login-sec" ng-show="log">
                <h2 class="text-center">Login Now</h2>
                <form class="login-form">
                    <div class="form-group">
                        <label class="text-uppercase">Username</label>
                        <input type="text" class="form-control" placeholder="Enter Your Email" ng-model="mail">
                        <span class="error" ng-if="mailErr">Please Enter Your Email</span>
                        <span class="error" ng-if="valid">Please Enter Valid Email</span>
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Your Password" ng-model ="passwd">
                        <span class="error" ng-if="passwdErr">Please Enter Your Password</span>
                        <span class="error" ng-if='error'>{{error}}</span>

                    </div>
                    <div class="form-check">
                        <button type="submit" ng-click="loginHere()" class="btn btn-primary btn-login float-right">Login</button>
                    </div><br>
                    <label><a ng-click="reg()">Click here to Sign Up</a></label>
                </form>
            </div>
            <div class="col-md-offset-3 col-md-5 login-sec" ng-show="!log">
                <h2 class="text-center">Register to Login</h2>
                <form class="login-form">
                    <div class="form-group">
                        <label class="text-uppercase">Email</label>
                        <input type="text" class="form-control" placeholder="Enter Your Email" ng-model="Inmail">
                        <span class="error" ng-if="InmailErr">Please Enter Your Email</span>
                        <span class="error" ng-if="Invalid">Please Enter Valid Email</span>
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Your Password" ng-model ="Inpasswd">
                        <span class="error" ng-if="InpasswdErr">Please Enter Your Password</span>
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase">Type</label>
                        <select class="form-control b-select" ng-model="uType">
                            <option value="client">Client</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                
                    <div class="form-check">
                        <button type="submit" ng-click="Register()" class="btn btn-primary btn-login float-right">Sign Up</button>
                    </div><br>
                    <label><a ng-click="reg()">Click here Login</a></label>
                </form>
            </div>
        </div>
    </div>
</section>